<footer>
    <div id="footer">
        <div class="cd-tool visible-lg text-center">
            <a class="cd-top cd-is-visible cd-fade-out"><span class="fa fa-chevron-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 footer-list text-center">
                    <p class="kratos-social-icons">
                        <a target="_blank" rel="nofollow" href="https://github.com/choway"><i class="fa fa-github"></i></a>
                    </p>
                    <p>Copyright <%- date(Date.now(), 'YYYY') %> <a href="<%- url_for() %>"><%= config.title %></a>. All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</footer>